

# NextAuth Configuration (local username-based login, no Keycloak)
NEXTAUTH_URL=http://localhost:3000 #if custom basepath is used, append it here append /basepath/api/auth
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32

# Application URLs (update these to use your domain)
NEXT_PUBLIC_AUTH_URL=https://
NEXT_PUBLIC_BASE_PATH=/enterprise-ai/ui
NEXT_PUBLIC_FILES_BASE_URL=https://your-domain.com
NEXT_PUBLIC_DATAPREP_BASE_URL=https://your-domain.com
NEXT_PUBLIC_FINETUNING_API_URL=https://your-domain.com

# Proxy Configuration (Server-side only)
# Used for outbound API calls to deployed models
#HTTP_PROXY=
#HTTPS_PROXY=